{% import "macros/macros.html" as post_macros %}

<!DOCTYPE html>
<html lang="en" class="dark light">

{% include "partials/header.html" %}

<body>
    {% set content_class = "content" %}
    {% if section is defined and section.extra.content_wide | default(value=false) %}
        {% set content_class = content_class ~ " content--wide" %}
    {% endif %}
    {% if page is defined and page.extra.content_wide | default(value=false) %}
        {% set content_class = content_class ~ " content--wide" %}
    {% endif %}
    <div class="{{ content_class }}">
        {% include "partials/nav.html" %}

        {# Post page is the default #}
        {% block main_content %}
            Nothing here?!
        {% endblock main_content %}

        {% if page.extra.comment is defined  %}
            {% set show_comment = page.extra.comment %}
        {% else %}
            {% set show_comment = false %}
        {% endif %}

        {% if show_comment %}
        <div class="giscus"></div>
        {% include "_giscus_script.html" %}
        {% endif %}
    </div>
</body>

</html>
